*{ 
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 44%;
    border: 3px solid white;
     border-radius: 50px ;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
}

.nav-list{
    width: 100%;
    
  display: flex;
  align-items: center;
}
.nav-list li{
     list-style:none ;
 padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}

.background{
    background: rgba(0, 0, 0, 0.8) url('zinda.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.section{
    height:100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 50%;
     margin: auto;
     height: 80%;
    }

.first{ 
    width:100%;
    display: flex;
     flex-direction: column;
    justify-content: center;

}
.second{
    width: 30%;
}

.second img{
width: 70%;
border: 4px solid white;
border-radius: 100px;
display: block;
margin: auto;
}

.text-big{
    font-size: 41px;
}

.text-small{
    font-size: 18px;
}
.software{
    background-color: white;
    height: 533px;
    text-align: center;
    
}
.text-center{
    text-align: center;
    padding: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    margin: auto;
   
}
.form{
background-color: indigo;
color: white;
padding: 0.8rem;
font-family: sans-serif;
border-radius: 0.3rem;
cursor: pointer;
margin-top: 1rem;

}
.secmain{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

